{% extends "admin/admin_base.html" %}
{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph text-success"> </i>
                </div>
                <div>
                    {{ edit_title }}
                    <div class="page-title-subheading">
                    {{ edit_message}}
                    </div>
                </div>
            </div>
            {% block actions %}
            {% if action %}
            {% include action %}
            {% endif %}
            {% endblock %}
        </div>
    </div>
    <form action="{{ url_for(update_url,oid=oid) }}" id="edit_form"
          class="needs-validation" method="POST" novalidate>
        {{ form.csrf_token }}
        <div class="main-card mb-3 card">
            <div class="card-body">
                {% with edit = context['edit_model'] %}
                {% for row in edit.fields %}
                <div class="form-row">
                    {% for field in row %}
                    {% if field.type == 'select' %}
                    <div class="col-md-4 mb-3">
                        <div class="position-relative form-group">
                            <label for="{{ field.name }}" class="">{{ field.label }}</label>
                            <select name="{{ field.name }}" id="{{ field.name }}" class="form-control">
                                <option></option>
                                {% for odata in field.data %}
                                <option value="{{ odata.id }}" {% if field.value==odata.id %}selected{% endif %}>
                                    {{ odata.name }}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid {{ field.label }}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-4 mb-3">
                        <label for="{{ field.name }}">{{ field.label }}</label>
                        <input style="font-weight: bold;" type="{{ field.type }}" class="form-control" id="{{ field.name }}"
                               name="{{ field.name }}"
                               placeholder="{{ field.label }}"
                               required value="{{ field.value }}">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid {{ field.label }}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
                {% endwith %}
                <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
            'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
            });
            }, false);
            })();
                </script>
            </div>
        </div>
    </form>
    {% if form.inlines %}
    {% for inline in form.inlines %}
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">{{ inline.title.upper() }}</h5>
            <table class="mb-0 table table-hover">
                <thead>
                <tr>
                    {% for header in inline.headers %}
                    <th>{{ header.upper() }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% include inline.html %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block inner_footer %}
<div class="app-footer-right">
    <button type="button" class="btn btn-secondary" onclick="history.back(-1)" 
    style="margin-right: 10px;">Cancel</button>
    <button form="edit_form" type="submit" class="btn btn-primary">Save</button>
</div>
{% endblock %}

{% block toast %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="toast-container" class="toast-top-center">
    {% for message in messages %}
    <div class="toast toast-success" aria-live="polite">
        <div class="toast-progress" style="width: 0%;"></div>
        <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
        <div class="toast-title">Saved!</div>
        <div class="toast-message">{{ message }}</div>
    </div>
</div>

{% endfor %}
{% endif %}
{% endwith %}

{% if context['errors'] %}
<div id="toast-container" class="toast-top-center">
    {% for key,error in context['errors'].items() %}
    <div class="toast toast-error" aria-live="polite">
        <div class="toast-progress" style="width: 0%;"></div>
        <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
        <div class="toast-title">Error!</div>
        <div class="toast-message">{{ key, error }}</div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% if context['active'] == 'Users' %}
{% block scripts %}
<script>
  function edit_chk(permission_id){
  var input_read = document.getElementById("edit_chk_read_".concat(permission_id)).checked;
  var input_create = document.getElementById("edit_chk_create_".concat(permission_id)).checked;
  var input_write = document.getElementById("edit_chk_write_".concat(permission_id)).checked;
  var input_delete = document.getElementById("edit_chk_delete_".concat(permission_id)).checked;
  var csrf_token = "{{ csrf_token() }}";
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open("post", "/auth/user_edit_permission",true);
  xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xmlHttp.onreadystatechange = function(){
    if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
            if(xmlHttp.responseText.trim() == 1){
                console.log("Saved");
            }else if (xmlHttp.responseText.trim() == 0){
                console.log("Not Saved");
            }
    }
  }
  xmlHttp.setRequestHeader("X-CSRFToken", csrf_token);
  var data = JSON.stringify({"permission_id": permission_id,"read": input_read, "create": input_create,
   "write": input_write, "delete": input_delete});
  xmlHttp.send(data);
  }
</script>
{% endblock %}
{% endif %}