<div class="page-title-actions">
    
    <div class="d-inline-block dropdown">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="btn-shadow dropdown-toggle btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-list-alt fa-w-20"></i>
                        </span>
            Actions
        </button>
        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
            <ul class="nav flex-column">
                {% if session['permissions'][context['active']] is defined %}
                {% if session['permissions'][context['active']]['delete'] or current_user.is_superuser %}
                <li id="nav_action_btns" class="nav-item">
                    {% block dropdown_buttons %}
                    <form action="{{url_for('bp_admin.delete',delete_table=delete_table,oid=oid,index_url=index_url)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type='submit' tabindex="0" class="dropdown-item">Delete</button>
                    </form>
                    {% endblock %}
                </li>
                {% else %}
                <li class="nav-item">
                    <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                        <i class="nav-link-icon lnr-file-empty"></i>
                        <span>
                            No actions
                        </span>
                    </a>
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item">
                    <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                        <i class="nav-link-icon lnr-file-empty"></i>
                        <span>
                            No actions
                        </span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>