<div class="page-title-actions">
    <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" title="Add new user" data-placement="bottom"
            class="btn-shadow mr-3 btn btn-primary">
        <i class="fa fa-user-plus"></i>
    </button>
    <div class="d-inline-block dropdown">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="btn-shadow dropdown-toggle btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-list-alt fa-w-20"></i>
                        </span>
            Actions
        </button>
        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <button type="button" tabindex="0" class="dropdown-item" onclick="add_delete_column()">Delete users</button>
                </li>
            </ul>
        </div>
    </div>
</div>