{% extends "admin/admin_base.html" %}
{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"> </i>
                </div>
                <div>
                    User Permissions
                    <div class="page-title-subheading">
                        message
                    </div>
                </div>
            </div>
<!--            &lt;!&ndash;  INCLUDE HERE: ACTIONS &ndash;&gt;-->
<!--            {% include 'auth/user_actions.html' %}-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table id="index_table" class="mb-0 table table-hover">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Model</th>
                                <th>Read</th>
                                <th>Write</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user_permission in context['user_permissions'] %}
                            <tr>
                                <td>{{ user_permission.user.username }}</td>
                                <td>{{ user_permission.user.fname + " " + user_permission.user.lname }}</td>
                                <td>{{ user_permission.model.name }}</td>
                                <td>{{ user_permission.read }}</td>
                                <td>{{ user_permission.write }}</td>
                                <td>{{ user_permission.delete }}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block inner_footer %}
<div class="app-footer-left">
    <nav class="" aria-label="Page navigation example">
        <ul class="pagination">
            {% if context['prev_url'] %}
            <li class="page-item">
                <a href="{{ context['prev_url'] }}" class="page-link" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
                <span class="sr-only">Previous</span></a>
            </li>
            {% endif %}

            {% if context['next_url'] %}
            <li class="page-item">
                <a href="{{ context['next_url'] }}" class="page-link" aria-label="Next">
                <span aria-hidden="true">Next</span>
                <span class="sr-only">Next</span></a></li>
                    </ul>
            {% endif %}
    </nav>
</div>
{% endblock %}

{% block toast %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="toast-container" class="toast-top-center">
            {% for message in messages %}
            <div class="toast toast-success" aria-live="polite" style="">
                <div class="toast-progress" style="width: 0%;"></div>
                <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
                <div class="toast-title">Saved!</div>
                <div class="toast-message">{{ message }}</div></div></div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

