{% extends "admin/admin_base.html" %}
{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph text-success"> </i>
                </div>
                <div>
                    Edit User Account
                    <div class="page-title-subheading">
                        message {{ session['permissions'] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% with form = context['forms']['UserEditForm'] %}
    <form action="{{ url_for('bp_auth.user_edit',oid=context['user_id']) }}" id="user_edit_form"
          class="needs-validation" method="POST" novalidate>
        {{ form.csrf_token }}
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="fname">First name</label>
                        <input type="text" class="form-control" id="fname" name="fname" placeholder="First name"
                               required value="{{ form.fname.data }}">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="lname">Last name</label>
                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name" required
                               value="{{ form.lname.data }}">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="username">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                                   aria-describedby="inputGroupPrepend" required value="{{ form.username.data }}">
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required
                               value="{{ form.email.data }}">
                        <div class="invalid-feedback">
                            Please provide a valid email
                        </div>
                    </div>
                </div>
                <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
            'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
            });
            }, false);
            })();


                </script>
            </div>
        </div>
    </form>
    {% endwith %}
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Edit rights</h5>
            <table class="mb-0 table table-hover">
                <thead>
                <tr>
                    <th>Model</th>
                    <th>Read</th>
                    <th>Write</th>
                    <th>Delete</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in context['user_permissions'] %}
                 <tr>
                <form action="{{url_for('bp_auth.user_delete_permission',permission_id=permission.id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <td scope="row"><strong>{{ permission.model.name }}</strong></td>
                    <td><div class="position-relative form-check form-check-inline"><label class="form-check-label"><input {% if permission.read %} checked {% endif %} onclick="edit_chk({{ permission.id }})" type="checkbox" id="edit_chk_read_{{ permission.id }}" name="edit_chk_read_{{ permission.id }}" class="form-check-input"/></label></div></td>
                    <td><div class="position-relative form-check form-check-inline"><label class="form-check-label"><input {% if permission.write %} checked {% endif %} onclick="edit_chk({{ permission.id }})" type="checkbox" id="edit_chk_write_{{ permission.id }}" name="edit_chk_write_{{ permission.id }}" class="form-check-input"/></label></div></td>
                    <td><div class="position-relative form-check form-check-inline"><label class="form-check-label"><input {% if permission.delete %} checked {% endif %} onclick="edit_chk({{ permission.id }})" type="checkbox" id="edit_chk_delete_{{ permission.id }}" name="edit_chk_delete_{{ permission.id }}" class="form-check-input"/></label></div></td>
                    <td><button type="submit" class="mb-2 mr-2 btn-transition btn btn-outline-danger">This permission</button></td>
                </form></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Add rights</h5>
            <table class="mb-0 table table-hover">
                <thead>
                <tr>
                    <th>Model</th>
                    <th>Read</th>
                    <th>Write</th>
                    <th>Delete</th>
                    <th>Add</th>
                </tr>
                </thead>
                <tbody>
                {% for model in context['models'] %}
                <tr>
                <form action="{{ url_for('bp_auth.user_add_permission',user_id=context['user_id'],model_id=model.id) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <td scope="row"><strong>{{ model.name }}</strong></td>
                    <td><div class="position-relative form-check form-check-inline"><label class="form-check-label"><input type="checkbox" id="chk_read" name="chk_read" class="form-check-input"/></label></div></td>
                    <td><div class="position-relative form-check form-check-inline"><label class="form-check-label"><input type="checkbox" id="chk_write" name="chk_write" class="form-check-input"/></label></div></td>
                    <td><div class="position-relative form-check form-check-inline"><label class="form-check-label"><input type="checkbox" id="chk_delete" name="chk_delete" class="form-check-input"/></label></div></td>
                    <td><button type="submit" class="mb-2 mr-2 btn-transition btn btn-outline-success">This permission</button></td>
                </form>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block inner_footer %}
<div class="app-footer-right">
    <button type="button" class="btn btn-secondary">Cancel</button>
    <button form="user_edit_form" type="submit" class="btn btn-primary">Save</button>
</div>
{% endblock %}

{% block scripts %}
<script>
  function edit_chk(permission_id){
  var input_read = document.getElementById("edit_chk_read_".concat(permission_id)).checked;
  var input_write = document.getElementById("edit_chk_write_".concat(permission_id)).checked;
  var input_delete = document.getElementById("edit_chk_delete_".concat(permission_id)).checked;
  var csrf_token = "{{ csrf_token() }}";
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open("post", "http://localhost:5000/auth/user_edit_permission",true);
  xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xmlHttp.onreadystatechange = function(){
    if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
            if(xmlHttp.responseText.trim() == 1){
                console.log("Saved");
            }else if (xmlHttp.responseText.trim() == 0){
                console.log("Not Saved");
            }
    }
  }
  xmlHttp.setRequestHeader("X-CSRFToken", csrf_token);
  var data = JSON.stringify({"permission_id": permission_id,"read": input_read, "write": input_write, "delete": input_delete});
  xmlHttp.send(data);
  }
</script>
{% endblock %}