<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="form_create_user" action="{{ url_for('bp_auth.user_create') }}" class="needs-validation" method="POST" novalidate>
                {{ context['forms']['UserCreateForm'].csrf_token }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add new user account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="fname">First name</label>
                                    <input type="text" class="form-control" id="fname" name="fname"
                                           placeholder="First name" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="lname">Last name</label>
                                    <input type="text" class="form-control" id="lname" name="lname"
                                           placeholder="Last name" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="usernamecheck">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        </div>
                                        <input type="text" class="form-control" id="usernamecheck" name="usernamecheck"
                                               placeholder="Username" aria-describedby="inputGroupPrepend" required onchange="username_check()">
                                        <div id="username-invalid-feedback" class="invalid-feedback">
                                            Please choose a username or username is already taken.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                           required>
                                    <div class="invalid-feedback">
                                        Please provide a valid email
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Password" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid password
                                    </div>
                                </div>
                            </div>
                            <script>
                                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                                    (function() {
                                        'use strict';
                                        window.addEventListener('load', function() {
                                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                            var forms = document.getElementsByClassName('needs-validation');
                                            // Loop over them and prevent submission
                                            var validation = Array.prototype.filter.call(forms, function(form) {
                                                form.addEventListener('submit', function(event) {
                                                    if (form.checkValidity() === false) {
                                                        event.preventDefault();
                                                        event.stopPropagation();
                                                    }
                                                    form.classList.add('was-validated');
                                                }, false);
                                            });
                                        }, false);
                                    })();
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="modal_form" name="modal_form" value="modal_form"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
                                  function username_check(){
  var username = document.getElementById("usernamecheck").value;
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open("post", "http://localhost:5000/auth/username_check",true);
  xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xmlHttp.onreadystatechange = function(){
    if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
            var response = xmlHttp.responseText.trim();
            console.log(response)
            if(xmlHttp.responseText.trim() == 1){
                document.getElementById("username-invalid-feedback").style.display = "none";
            }else if (xmlHttp.responseText.trim() == 0){
                document.getElementById("username-invalid-feedback").style.display = "block";
            }
    }
  }
  var data = JSON.stringify({"usernamecheck": username});
  xmlHttp.send(data);
  }
</script>

<!-- user_view modal -->
<div id="userModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add new user account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="fname">First name</label>
                                <input disabled type="text" class="form-control" name="fname" placeholder="First name"
                                       required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="lname">Last name</label>
                                <input disabled type="text" class="form-control" name="lname" placeholder="Last name"
                                       required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="username">Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    </div>
                                    <input disabled type="text" class="form-control" id="username" name="username"
                                           placeholder="Username" aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="email">Email</label>
                                <input disabled type="email" class="form-control" name="email" placeholder="Email"
                                       required>
                                <div class="invalid-feedback">
                                    Please provide a valid email
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="password">Password</label>
                                <input disabled type="password" class="form-control" name="password"
                                       placeholder="Password" required>
                                <div class="invalid-feedback">
                                    Please provide a valid password
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="modal_form" name="modal_form" value="modal_form"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="user_edit_button" href="" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

