// Bookmark Start
.bookmark
    ul
      li
          a(href='chat.html' data-container='body', data-bs-toggle='popover', data-placement='top', title='', data-original-title='Chat')
              i(data-feather='message-square')
      li
          a(href='product-page.html' data-container='body', data-bs-toggle='popover', data-placement='top', title='', data-original-title='Icons')
              i(data-feather='shopping-bag')                
      li
          a(href='user-profile.html' data-container='body', data-bs-toggle='popover', data-placement='top', title='', data-original-title='Learning')
              i(data-feather='users')
      li
          a(href='javascript:void(0)')
              i.bookmark-search(data-feather='heart')
          form.form-inline.search-form
              .form-group.form-control-search
                  input(type='text', placeholder='Search..')
// Bookmark Ends
