-var animate      = true ;
-var wow          = true ;


doctype html
html(lang='en')
    include ../../components/header-files
    body.landing-page
        // page-wrapper Start
        .page-wrapper.compact-wrapper
            // Page Body Start
            // header start
            header.landing-header                  
              .custom-container
                .row
                  .col-12
                    nav#navbar-example2.navbar.navbar-light.p-0
                        a.navbar-brand(href="javascript:void(0)") 
                          img.img-fluid(src="../assets/images/logo/logo.png" alt="")
                        ul.landing-menu.nav.nav-pills
                          li.nav-item.menu-back
                            | back
                            i.fa.fa-angle-right
                          li.nav-item
                            a.nav-link(href='#home') Home
                          li.nav-item
                            a.nav-link(href='#demo') Demo
                          li.nav-item
                            a.nav-link(href='#framework') Frameworks
                          li.nav-item
                            a.nav-link(href='#Applications') Applications
                          li.nav-item
                            a.nav-link(href='#core-feature') Core Feature 
                          li.nav-item
                            a.nav-link(href='#footer') Footer
                        .buy-block
                          a(class="btn-landing" href="https://themeforest.net/user/pixelstrap/portfolio" target="_blank") Purchase
                          .toggle-menu
                            i.fa.fa-bars
            // header end
            

            // landing home start
            section.landing-home              
              .custom-container
                .row
                  .col-12
                    .landing-home-contain
                      div                       
                        h6 UNIQUE DESIGN
                        h2 Wingo Bootstrap 5 HTML
                          span Admin Template
                        p  When it comes to dashboard or web apps. one of the first impression you consider is the design. It needs to be high quality enough otherwise you will lose potential users due to bad design.
                        .landing-button
                          a.btn-landing.go-btn(href="index.html" target="_blank")  
                            img.img-fluid.img-30.me-2(src="../assets/images/logo/html.png" alt="")                         
                            | Html
                            i.fa.fa-angle-right
                          a.btn-secondary.btn-landing.go-btn.ms-2(href="https://react.pixelstrap.com/wingo/dashboard/default" target="_blank")  
                            img.img-fluid.img-30.me-2(src="../assets/images/logo/react.png" alt="")                         
                            | React
                            i.fa.fa-angle-right
                          a.btn-success.btn-landing.go-btn.ms-2(href="https://wingodjango.pixelstrap.com/login?next=/" target="_blank")  
                            img.img-fluid.img-30.me-2(src="../assets/images/landing/icon/django/django.png" alt="")                         
                            | Django
                            i.fa.fa-angle-right
              .animat-block
                img.img-fluid.animat1(src="../assets/images/landing/landing-home/animat/1.png" alt="")
                img.img-fluid.animat2(src="../assets/images/landing/landing-home/animat/2.png" alt="")
                img.img-fluid.animat3(src="../assets/images/landing/landing-home/animat/3.png" alt="")
                img.img-fluid.animat4(src="../assets/images/landing/landing-home/animat/4.png" alt="")
                img.img-fluid.animat5(src="../assets/images/landing/landing-home/animat/5.png" alt="")
                img.img-fluid.animat6(src="../assets/images/landing/landing-home/animat/6.png" alt="")
                img.img-fluid.animat7(src="../assets/images/landing/landing-home/animat/7.png" alt="")               
                img.img-fluid.animat12(src="../assets/images/landing/landing-home/animat/shap3.png" alt="")
                img.img-fluid.animat13(src="../assets/images/landing/landing-home/animat/shap4.png" alt="")
            // landing home end


            // demo section start
            section#demo.demo-section.section-py-space
                .title
                  .logo-wrraper
                    img.img-fluid.bg-img(src="../assets/images/logo/logo-icon.png" alt="")
                  h2 Creative Layouts
                .container-fluid
                  .row.demo-block
                    .col-lg-4.col-md-6.wow.pulse   
                      .demo-box
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/demo/1.jpg" alt="")
                          ul.demo-link
                            li
                              a#default-demo(href="index.html" target="_blank")
                                svg(viewbox='-30 0 512 512' xmlns='http://www.w3.org/2000/svg')
                                  path(d='m31.859375 448.058594 194.253906 63.941406 194.253907-63.941406 31.859374-448.058594h-452.226562zm339.757813-373.058594-4.277344 60h-222.246094l5.417969 77h211.480469l-12.878907 180.601562-123 41.101563-123.003906-41.101563-4.203125-60.601562h60l1.214844 16.492188 65.992187 21.902343 66.003907-21.898437 5.390624-76.496094h-203.097656l-13.800781-197zm0 0')
                                | Html
                            li
                              a(href="https://react.pixelstrap.com/wingo/dashboard/default" target="_blank")
                                img.img-fluid.img-20.me-1(src="../assets/images/logo/react1.png")
                                | React
                            li
                              a(href="https://wingodjango.pixelstrap.com/dashboard_default" target="_blank")
                                img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/django/django.png")
                                | django
                        .demo-title
                          h3 demo 1
                    .col-lg-4.col-md-6.wow.pulse
                      .demo-box                       
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/demo/2.jpg" alt="")
                          ul.demo-link
                            li
                              a#compact-demo(href="dashboard-02.html" target="_blank")
                                svg(viewbox='-30 0 512 512' xmlns='http://www.w3.org/2000/svg')
                                  path(d='m31.859375 448.058594 194.253906 63.941406 194.253907-63.941406 31.859374-448.058594h-452.226562zm339.757813-373.058594-4.277344 60h-222.246094l5.417969 77h211.480469l-12.878907 180.601562-123 41.101563-123.003906-41.101563-4.203125-60.601562h60l1.214844 16.492188 65.992187 21.902343 66.003907-21.898437 5.390624-76.496094h-203.097656l-13.800781-197zm0 0')
                                | Html
                            li
                              a(href="https://react.pixelstrap.com/wingo/dashboard/ecommerce" target="_blank")
                                img.img-fluid.img-20.me-1(src="../assets/images/logo/react1.png")
                                | React
                            li
                              a(href="https://wingodjango.pixelstrap.com/dashboard_ecommerce" target="_blank")
                                img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/django/django.png")
                                | django
                            //- li
                            //-   a(href="javascript:void(0)")
                            //-     svg(style='enable-background:new 0 0 512 512;' version='1.1' viewbox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                            //-       g#comp_x5F_194-laravel
                            //-         polygon(points='   33,106 153,336 479,256 429,186 359,196 469,356 319,406 143,106  ' style='fill:none;stroke:#000000;stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;')
                            //-       g#Layer_1
                            //-     | open in laravel
                        .demo-title
                          h3 demo 2
                    .col-lg-4.col-md-6.offset-md-3.offset-lg-0.wow.pulse
                      .demo-box                       
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/demo/3.jpg" alt="")  
                          ul.demo-link
                            li
                              a#modern-demo(href="dashboard-03.html")
                                svg(viewbox='-30 0 512 512' xmlns='http://www.w3.org/2000/svg' target="_blank")
                                  path(d='m31.859375 448.058594 194.253906 63.941406 194.253907-63.941406 31.859374-448.058594h-452.226562zm339.757813-373.058594-4.277344 60h-222.246094l5.417969 77h211.480469l-12.878907 180.601562-123 41.101563-123.003906-41.101563-4.203125-60.601562h60l1.214844 16.492188 65.992187 21.902343 66.003907-21.898437 5.390624-76.496094h-203.097656l-13.800781-197zm0 0')
                                | Html
                            li
                              a(href="https://react.pixelstrap.com/wingo/dashboard/project" target="_blank")
                                img.img-fluid.img-20.me-1(src="../assets/images/logo/react1.png")
                                | React
                            li
                              a(href="https://wingodjango.pixelstrap.com/dashboard_project" target="_blank")
                                img.img-fluid.img-20.me-1(src="../assets/images/landing/icon/django/django.png")
                                | django
                            //- li
                            //-   a(href="javascript:void(0)")
                            //-     svg(style='enable-background:new 0 0 512 512;' version='1.1' viewbox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                            //-       g#comp_x5F_194-laravel
                            //-         polygon(points='   33,106 153,336 479,256 429,186 359,196 469,356 319,406 143,106  ' style='fill:none;stroke:#000000;stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;')
                            //-       g#Layer_1  
                            //-     | open in laravel
                        .demo-title
                          h3 demo 3                     
            // demo section end


            // frameworks start
            section#framework.framework.section-pb-space.light-bg
              .custom-container
                .row                  
                  .col-sm-12.wow.pulse
                    .title
                      .logo-wrraper
                        img.img-fluid.bg-img(src="../assets/images/logo/logo-icon.png" alt="")
                      h2 Top Frameworks 
                  .col-sm-12.framworks                  
                    ul#pills-tab.nav.nav-pills.justify-content-center(role='tablist')
                      li.nav-item
                        a#pills-home-tab.nav-link.d-flex.active(data-bs-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') 
                          img(src="../assets/images/landing/icon/html/html.png" alt="")
                          .text-start
                            h5.mb-0 HTML
                            p.mb-0 Frameworks
                      li.nav-item
                        a#pills-contact-tab.d-flex.nav-link(data-bs-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') 
                          img(src="../assets/images/landing/icon/react/props_state.png" alt="")
                          .text-start
                            h5.mb-0 React
                            p.mb-0 Frameworks
                      li.nav-item
                        a#pills-django-tab.d-flex.nav-link(data-bs-toggle='pill', href='#pills-django', role='tab', aria-controls='pills-contact', aria-selected='false') 
                          img(src="../assets/images/landing/icon/django/django.png" alt="")
                          .text-start
                            h5.mb-0 Django
                            p.mb-0 Frameworks
                    #pills-tabContent.tab-content
                      #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
                        ul.framworks-list
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/laravel/bootstrap.png" alt="")
                              h6 Booxstrap 5
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/css.png" alt="")
                              h6 CSS
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/sass.png" alt="")
                              h6 Sass
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/pug.png" alt="")
                              h6 Pug
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/npm.png" alt="")
                              h6 NPM
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/gulp.png" alt="")
                              h6 Gulp
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/kit.png" alt="")
                              h6 Starter Kit
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/uikits.png" alt="")
                              h6 40+ UI Kits
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/layout.png" alt="")
                              h6 8+ Layout
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/builders.png" alt="")
                              h6 Builders
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/iconset.png" alt="")
                              h6 11 Icon Sets
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/forms.png" alt="")
                              h6 Forms
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/table.png" alt="")
                              h6 Tables
                          li.bounceIn.wow
                              div 
                                img(src="../assets/images/landing/icon/html/apps.png" alt="")
                              h6 17+ Apps
                      #pills-contact.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
                        ul.framworks-list
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/props_state.png" alt="")
                            h6 State & Props
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/hook.png" alt="")
                            h6 React Hook
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/reactstrap.png" alt="")
                            h6 React Strap
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/noquery.png" alt="")
                            h6 No Jquery
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/redux.png" alt="")
                            h6 Redux
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/firebase.png" alt="")
                            h6 Firebase Auth
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/crud.png" alt="")
                            h6 Firebase Crud
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/chat.png" alt="")
                            h6 Chat
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/animation.png" alt="")
                            h6 Router Animation
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/firebase.png" alt="")
                            h6 Firebase Auth
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/reactrouter.png" alt="")
                            h6 React Router
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/chat.png" alt="")
                            h6 Chat
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/chart.png" alt="")
                            h6 Chart
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/map.png" alt="")
                            h6 Map
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/gallery.png" alt="")
                            h6 Gallery
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/react/map.png" alt="")
                            h6 Map
                      #pills-django.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
                        ul.framworks-list
                          li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/bootstrap.png" alt="")
                            h6 Booxstrap 5
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/firebase.png" alt="")
                            h6 Authentication
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/mix.png" alt="")
                            h6 Unlimited color
                          li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/font-awesome.png" alt="")
                            h6 Font-awesome icon
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/animation.png" alt="")
                            h6 Animation css
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/slick.png" alt="")
                            h6 Slick carousal
                          li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/apps.png" alt="")
                            h6 To-do
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/gallery.png" alt="")
                            h6 Gallery
                          li.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/table.png" alt="")
                            h6 DataTables
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/layouts.png" alt="")
                            h6 Responsive Layout
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/chart.png" alt="")
                            h6 Attractive chart
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/cusomize.png" alt="")
                            h6 Easy customizer
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/weather.png" alt="")
                            h6 Weather icon
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/ico.png" alt="")
                            h6 Ico icon
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/feather.png" alt="")
                            h6 Feather icon
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/dropzone.png" alt="")
                            h6 Dropzone
                          li.box.bounceIn.wow
                            div 
                              img(src="../assets/images/landing/icon/django/flag.png" alt="")
                            h6 Flag icon
            // frameworks end

            // demo section start
            section#dashboard.demo-section.section-pb-space
                .title
                  .logo-wrraper
                    img.img-fluid.bg-img(src="../assets/images/logo/logo-icon.png" alt="")
                  h2 wingo dashboard
                .container-fluid
                  .row.demo-block
                    .col-lg-4.col-sm-6.wow.pulse
                      .demo-box
                        a(href="index.html")                       
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/dashboard/1.jpg" alt="")
                          .demo-title
                            h3 Default Dashboard
                    .col-lg-4.col-sm-6.wow.pulse
                      .demo-box      
                        a(href="dashboard-02.html")                 
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/dashboard/2.jpg" alt="")
                          .demo-title
                            h3 Ecommerce Dashboard
                    .col-lg-4.col-sm-6.offset-sm-3.offset-lg-0.wow.pulse
                      .demo-box          
                        a(href="dashboard-03.html")             
                          .img-wrraper
                            img.img-fluid(src="../assets/images/landing/dashboard/3.jpg" alt="")    
                          .demo-title
                            h3 Business Dashboard
            // demo section end

            // unic-cards start
            section.unique-cards
              .title
                .logo-wrraper
                    img.img-fluid.bg-img(src="../assets/images/logo/logo-icon.png" alt="")
                h2 unique cards
              .custom-container
                .row
                  .col-lg-3
                    .row
                      .col-lg-12.col-sm-6.lan-col-50
                        .card
                          .img-wrraper
                            img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/1.jpg" alt="")                 
                      .col-lg-12.col-sm-6.lan-col-50
                        .card
                          .img-wrraper
                            img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/2.jpg" alt="")
                  .col-lg-6.col-sm-12
                    .row
                      .col-sm-12
                        .card
                          .img-wrraper
                            img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/3.jpg" alt="")
                      .col-sm-6
                        .card
                          .img-wrraper
                            img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/4.jpg" alt="")
                      .col-sm-6
                        .row
                          .col-4
                            .card
                              .img-wrraper
                                img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/5.jpg" alt="")
                          .col-4
                            .card
                              .img-wrraper
                                img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/6.jpg" alt="")
                          .col-4
                            .card
                              .img-wrraper
                                img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/7.jpg" alt="")
                          .col-sm-12
                            .card
                              .img-wrraper
                                img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/8.jpg" alt="")
                      .col-sm-12
                            .card
                              .img-wrraper
                                img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/9.jpg" alt="")
                  .col-lg-3
                    .row
                      .col-lg-12.col-sm-4.lan-col-50
                        .card
                          .img-wrraper
                            img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/10.jpg" alt="")
                      .col-lg-12.col-sm-4.lan-col-50
                        .card
                          .img-wrraper
                            img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/11.jpg" alt="")
                      .col-lg-12.col-sm-4
                        .card
                          .img-wrraper
                            img.img-fluid.bg-img(src="../assets/images/landing/unique-cards/12.jpg" alt="")
            // unic-cards end


            //Applications start
            section#Applications.demo-section.section-py-space
              .title
                .logo-wrraper
                    img.img-fluid.bg-img(src="../assets/images/logo/logo-icon.png" alt="")
                h2 Usefull application
              .container-fluid.apps
                .row.demo-block
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="social-app.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/1.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Social App
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="knowledgebase.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/2.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Knowledgebase
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href='support-ticket.html')
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/3.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Support Ticket
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="email-application.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/4.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Email Dashboard
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href='to-do.html')
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/5.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 To-Do
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="job-cards-view.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/6.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Job Search
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="product-page.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/7.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Ecommerce
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="kanban.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/8.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Kanban
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="file-manager.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/9.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 File Manager
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="projects.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/10.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Project
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="contacts.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/11.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Contacts
                  .col-xl-3.col-lg-4.col-sm-6.wow.pulse
                    .demo-box
                      a(href="chat.html")
                        .img-wrraper
                          img.img-fluid(src="../assets/images/landing/application/12.jpg" alt="")
                        .demo-detail                        
                          .demo-title
                            h3 Chat
            //Applications end


            // unic-cards start
            section.unique-cards
              .title
                .logo-wrraper
                    img.img-fluid.bg-img(src="../assets/images/logo/logo-icon.png" alt="")
                h2 email templates
              .container
                .row
                  .col-12
                    .img-wrraper
                      img.img-fluid(src="../assets/images/landing/email-template/1.jpg" alt="")
            // unic-cards end


            //Core Feature start
            section#core-feature.core-feature.section-py-space
              .title
                .logo-wrraper
                    img.img-fluid.bg-img(src="../assets/images/logo/logo-icon.png" alt="")
                h2 Core Feature             
              .custom-container
                .row.feature-block
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="alert-octagon")
                        h6 SweetAlert2
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="users")
                        h6 Avatar
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="thermometer")
                        h6 Scrollable
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="command")
                        h6 Tree view
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="bold")                         
                        h6 Bootstrap notify
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="star")
                        h6 Rating 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="droplet")
                        h6 Dropzone
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="map-pin")
                        h6 Tour
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="codepen")
                        h6 Animated modal
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="book-open")
                        h6 Owl Carousel
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="tag")
                        h6 Ribbons 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="more-horizontal")
                        h6 Pagination 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="skip-forward")
                        h6 Steps 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="bookmark")
                        h6 Breadcrumb  
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="sliders")
                        h6 Range Slider 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="crop")
                        h6 image cropper 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="file")
                        h6 Sticky 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="loader")
                        h6 Progress 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="feather")
                        h6 Tooltip 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="target")
                        h6 Spinners 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="chevron-down")
                        h6 Dropdown 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="copy")
                        h6 Tabs 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="map")
                        h6 Accordion  
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="align-justify")
                        h6 Navs
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="airplay")
                        h6 Shadow
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="gitlab")
                        h6 state color
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="list")
                        h6 List  
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="grid")
                        h6 Grid 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="help-circle")
                        h6 Helper classes 
                  .col-xl-2.col-md-4.col-6
                    .feature-box
                      div
                        .icon-wrraper
                          i(data-feather="type")
                        h6 Typography
            //Core Feature end

            //footer start
            section#footer.landing-footer.section-py-space
              .custom-container
                .row
                  .col-12
                    .footer-contain
                      .rating-wrraper
                        svg(enable-background='new 0 0 512 512' viewbox='0 0 512 512' xmlns='http://www.w3.org/2000/svg')
                          g
                            g
                              g
                                g
                                  g
                                    g
                                      path(d='m334.916 224.362c-.113-.247-.227-.494-.341-.741-8.178-17.622-12.161-36.899-12.169-56.326l-.016-40.763c0-58.064-37.879-107.273-90.271-124.286-58.89 11.179-103.42 62.912-103.42 125.054l-.016 39.715c-.008 18.928-3.889 37.71-11.857 54.879-.111.24-.222.481-.332.721-17.586 38.495 6.751 83.601 48.679 89.364 4.069.559 8.225.848 12.448.848h120.56c34.68-12.543 52.843-53.205 36.735-88.465z' fill='#e7a561')
                                      g
                                        path(d='m157.864 129.993h24.808v58.374h-24.808c-16.123 0-29.191-13.072-29.187-29.195.004-16.116 13.07-29.179 29.187-29.179z' fill='#ffcbbe')
                                      path(d='m395.506 222.616c-.11-.241-.221-.481-.332-.722-7.968-17.169-11.849-35.951-11.856-54.879l-.016-39.715c-.001-70.306-56.996-127.3-127.302-127.3-11.822 0-23.265 1.618-34.126 4.633 53.733 14.917 93.174 64.183 93.174 122.667l.016 39.715c.008 18.928 3.888 37.71 11.856 54.879.111.24.222.481.332.722 17.586 38.495-6.751 83.601-48.679 89.363-4.069.559-8.225.848-12.448.848h68.253c4.223 0 8.379-.289 12.448-.848 41.929-5.762 66.265-50.867 48.68-89.363z' fill='#e49542')
                                      g
                                        g
                                          g
                                            g
                                              g
                                                g
                                                  path(d='m256 366.332c30.147 0 57.094-13.622 75.068-35.035 6.096-7.263 2.063-18.421-7.249-20.213-11.727-2.257-20.203-12.519-20.203-24.461v-68.417h-95.233v68.418c0 11.942-8.475 22.204-20.202 24.461-9.312 1.792-13.345 12.95-7.249 20.213 17.974 21.412 44.921 35.034 75.068 35.034z' fill='#ffcbbe')
                                                  path(d='m163.424 378.686v124.314l8.437 9h168.278l8.437-9v-124.314c0-8.668-.727-17.291-2.129-25.79-11.383-8.42-24.016-15.323-37.635-20.373-13.81 12.961-32.378 20.907-52.813 20.907-30.023 0-56.025-17.139-68.808-42.157l-9.549 1.838c-9.351 20.574-14.218 42.928-14.218 65.575z' fill='#f9f6f9')
                                                  path(d='m325.322 312.354-.514-1.08c-5.138 10.055-12.415 18.834-21.227 25.742 12.495 4.403 24.155 10.417 34.764 17.768-2.253-14.66-6.62-28.959-13.023-42.43z' fill='#dddaec')
                                                  g
                                                    g(fill='#9bc4f9')
                                                      path(d='m42.461 460.623v26.971c0 13.479 10.927 24.406 24.406 24.406h37.974v-3.849h15.453v3.849h51.568v-132.168c0-23.876 5.589-47.42 16.32-68.748l-26.405 5.082c-69.26 13.324-119.316 73.929-119.316 144.457z')
                                                      path(d='')
                                                    path(d='m336.799 346.316c2.204 10.4 3.34 21.03 3.34 31.726v133.958h51.567v-3.849h15.453v3.849h1.314v-36.137c0-53.914-28.147-102.238-71.674-129.547z' fill='#9bc4f9')
                                                    path(d='m350.224 316.165-.547-.105-24.868-4.786.514 1.08c6.403 13.471 10.769 27.77 13.024 42.43 38.685 26.804 63.374 71.432 63.374 120.961v32.406h5.439v3.849h37.974c13.479 0 24.406-10.927 24.406-24.406v-26.967c-.001-70.529-50.057-131.135-119.316-144.462z' fill='#7fb2f9')
                                                  g(fill='#61a2f9')
                                                    path(d='m120.294 511.738v-46.111c0-4.268-3.459-7.726-7.726-7.726s-7.726 3.459-7.726 7.726v46.111c0 .088.01.174.013.262h15.426c.002-.088.013-.173.013-.262z')
                                                    path(d='m399.433 457.901c-4.268 0-7.726 3.459-7.726 7.726v46.373h15.453v-46.372c-.001-4.268-3.46-7.727-7.727-7.727z')
                                        path(d='m331.058 198.175h31.231c13.252 0 23.996-10.743 23.996-23.995v-29.999c0-13.252-10.743-23.996-23.996-23.996h-31.231z' fill='#365e7d')
                                        path(d='m332.96 219.981c-7.085-16.621-10.547-34.588-10.554-52.686l-.016-40.763c0-15.781-2.801-30.906-7.928-44.91-4.385-1.539-9.097-2.385-14.008-2.385-11.332 0-22.19 4.546-30.142 12.62-9.156 9.296-21.658 14.53-34.705 14.53h-38.108c-15.606 0-28.257 12.651-28.257 28.257v46.596c.715 47.318 39.272 85.461 86.76 85.461 33.47 0 62.484-18.963 76.958-46.72z' fill='#ffddce')
                                        path(d='m342.76 121.544c0-21.559-16.13-39.339-36.978-41.961 5.965 14.738 9.267 30.84 9.267 47.717l.016 39.715c.008 18.928 3.888 37.71 11.856 54.879.111.24.222.481.332.722.636 1.392 1.211 2.794 1.738 4.202 8.483-13.181 13.515-28.796 13.769-45.578z' fill='#ffcbbe')
                            path(d='m362.29 198.175h-8.346v23.029c0 6.081-4.947 11.028-11.029 11.028h-29.892c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h29.892c14.353 0 26.029-11.676 26.029-26.028v-23.971c-2.114.609-4.345.942-6.654.942z' fill='#f9f6f9')
                            g
                              path(d='m306.076 255.927h-23.434c-8.944 0-16.194-7.25-16.194-16.194 0-8.944 7.25-16.194 16.194-16.194h23.434c8.944 0 16.194 7.25 16.194 16.194 0 8.943-7.25 16.194-16.194 16.194z' fill='#475959')
                      h2 Have Any Problem ?
                      p No Worries-Support Service is Always To Support To You
                      ul.star-rate
                        li
                          i.fa.fa-star.font-warning
                        li
                          i.fa.fa-star.font-warning
                        li
                          i.fa.fa-star.font-warning
                        li
                          i.fa.fa-star.font-warning
                        li
                          i.fa.fa-star.font-warning
                      .btn-footer
                        a(class="btn btn-lg btn-primary btn-pill" href="https://pixelstrap.freshdesk.com" role="button" target="_blank") Get Support
                        a(class="btn btn-lg btn-secondary btn-pill" target="_blank" href="https://themeforest.net/user/pixelstrap/portfolio" data-bs-original-title="" title="") Check Now
                        a(class="btn btn-lg btn-warning btn-pill" target="_blank" href="https://themeforest.net/user/pixelstrap/portfolio" data-bs-original-title="" title="") Buy Now
            //footer end
          
        include ../../components/taptop
        include ../../components/footer-files
        script.
            wow = new WOW({
                mobile: false
            })
            wow.init();