doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    // page-wrapper Start
    .container-fluid
      .row
        .col-xl-5
          img.bg-img-cover.bg-center(src="../assets/images/login/3.jpg" alt="looginpage" )
        .col-xl-7.p-0
          .login-card
            form.theme-form.login-form.needs-validation(novalidate='')
              .login-header.text-center
                h4 Login
                h6 Welcome back! Log in to your account.
              .form-group
                ul.login-social
                  li
                    a(href='https://www.google.com/' target='_blank')
                      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                        path(style='fill:#167EE6;' d='M492.668,211.489l-208.84-0.01c-9.222,0-16.697,7.474-16.697,16.696v66.715\
                        c0,9.22,7.475,16.696,16.696,16.696h117.606c-12.878,33.421-36.914,61.41-67.58,79.194L384,477.589\
                        c80.442-46.523,128-128.152,128-219.53c0-13.011-0.959-22.312-2.877-32.785C507.665,217.317,500.757,211.489,492.668,211.489z')
                        path(style='fill:#12B347;' d='M256,411.826c-57.554,0-107.798-31.446-134.783-77.979l-86.806,50.034\
                        C78.586,460.443,161.34,512,256,512c46.437,0,90.254-12.503,128-34.292v-0.119l-50.147-86.81\
                        C310.915,404.083,284.371,411.826,256,411.826z')
                        path(style='fill:#0F993E;' d='M384,477.708v-0.119l-50.147-86.81c-22.938,13.303-49.48,21.047-77.853,21.047V512\
                        C302.437,512,346.256,499.497,384,477.708z')
                        path(style='fill:#FFD500;' d='M100.174,256c0-28.369,7.742-54.91,21.043-77.847l-86.806-50.034C12.502,165.746,0,209.444,0,256\
                        s12.502,90.254,34.411,127.881l86.806-50.034C107.916,310.91,100.174,284.369,100.174,256z')
                        path(style='fill:#FF4B26;' d='M256,100.174c37.531,0,72.005,13.336,98.932,35.519c6.643,5.472,16.298,5.077,22.383-1.008\
                        l47.27-47.27c6.904-6.904,6.412-18.205-0.963-24.603C378.507,23.673,319.807,0,256,0C161.34,0,78.586,51.557,34.411,128.119\
                        l86.806,50.034C148.202,131.62,198.446,100.174,256,100.174z')
                        path(style='fill:#D93F21;' d='M354.932,135.693c6.643,5.472,16.299,5.077,22.383-1.008l47.27-47.27\
                        c6.903-6.904,6.411-18.205-0.963-24.603C378.507,23.672,319.807,0,256,0v100.174C293.53,100.174,328.005,113.51,354.932,135.693z')
                        g
                  li
                    a(href='https://twitter.com/' target='_blank')
                      svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                          path(style='fill:#03A9F4;' d='M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016\
                          c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992\
                          c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056\
                          c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152\
                          c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792\
                          c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44\
                          C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568\
                          C480.224,136.96,497.728,118.496,512,97.248z')
                          g
                  li
                    a(href='https://www.instagram.com/' target='_blank')
                      svg(enable-background='new 0 0 24 24' viewbox='0 0 24 24'  xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                        lineargradient#SVGID_1_(gradienttransform='matrix(0 -1.982 -1.844 0 -132.522 -51.077)' gradientunits='userSpaceOnUse' x1='-37.106' x2='-26.555' y1='-72.705' y2='-84.047')
                          stop(offset='0' stop-color='#fd5')
                          stop(offset='.5' stop-color='#ff543e')
                          stop(offset='1' stop-color='#c837ab')
                        path(d='m1.5 1.633c-1.886 1.959-1.5 4.04-1.5 10.362 0 5.25-.916 10.513 3.878 11.752 1.497.385 14.761.385 16.256-.002 1.996-.515 3.62-2.134 3.842-4.957.031-.394.031-13.185-.001-13.587-.236-3.007-2.087-4.74-4.526-5.091-.559-.081-.671-.105-3.539-.11-10.173.005-12.403-.448-14.41 1.633z' fill='url(#SVGID_1_)')
                        path(d='m11.998 3.139c-3.631 0-7.079-.323-8.396 3.057-.544 1.396-.465 3.209-.465 5.805 0 2.278-.073 4.419.465 5.804 1.314 3.382 4.79 3.058 8.394 3.058 3.477 0 7.062.362 8.395-3.058.545-1.41.465-3.196.465-5.804 0-3.462.191-5.697-1.488-7.375-1.7-1.7-3.999-1.487-7.374-1.487zm-.794 1.597c7.574-.012 8.538-.854 8.006 10.843-.189 4.137-3.339 3.683-7.211 3.683-7.06 0-7.263-.202-7.263-7.265 0-7.145.56-7.257 6.468-7.263zm5.524 1.471c-.587 0-1.063.476-1.063 1.063s.476 1.063 1.063 1.063 1.063-.476 1.063-1.063-.476-1.063-1.063-1.063zm-4.73 1.243c-2.513 0-4.55 2.038-4.55 4.551s2.037 4.55 4.55 4.55 4.549-2.037 4.549-4.55-2.036-4.551-4.549-4.551zm0 1.597c3.905 0 3.91 5.908 0 5.908-3.904 0-3.91-5.908 0-5.908z' fill='#fff')
                  li
                    a(href='https://www.facebook.com/' target='_blank')
                      svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                          path(style='fill:#1976D2;' d='M384,176h-96v-64c0-17.664,14.336-32,32-32h32V0h-64l0,0c-53.024,0-96,42.976-96,96v80h-64v80h64v256\
                          h96V256h64L384,176z')
                          g
              .login-social-title                 
                h5 Sign in with Email
              .form-group
                label Email Address
                .input-group
                  span(class="input-group-text")
                    i.icon-email
                  input.form-control(type='email', required='' placeholder='Test@gmail.com')
                  .invalid-tooltip
                    | Please enter proper email.
              .form-group
                label Password
                .input-group
                  span(class="input-group-text")
                    i.icon-lock
                  input.form-control(type='password', name='login[password]', required='' placeholder="*********")
                  .invalid-tooltip
                   | Please enter password.
                  .show-hide
                    span.show                          
              .form-group
                .checkbox
                  input#checkbox1(type='checkbox')
                  label.text-muted(for='checkbox1') Remember password
                a.link(href='forget-password.html') Forgot password?
              .form-group
                button.btn.btn-primary.btn-block(type='submit') Sign in
              p Don't have account?
                a.ms-2(href="sign-up.html") Create Account
    script.
      (function() {
      'use strict';
      window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
      event.preventDefault();
      event.stopPropagation();
      }
      form.classList.add('was-validated');
      }, false);
      });
      }, false);
      })();
    include ../../components/footer-files