{% extends "admin/admin_sidebar.html" %}
{% block first_sidebar_navigation %}
<li class="app-sidebar__heading">System Models</li>
{% for key,value in context['system_modules'].items() %}
{% if key == context['module'] %}
{% for model_name,val in value['models'].items() %}
<li>
    <a href="#" class="{% if context['active']==model_name %} mm-active {% endif %}">
        <i class="metismenu-icon {{ val['icon'] }} icon-gradient bg-premium-dark" aria-hidden="true"></i>
        {{ model_name }}
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
    </a>
    <ul>
        {% for function,link in val['functions'].items() %}
        <li>
            <a href="{{ url_for(link) }}">
                <i class="metismenu-icon">
                </i>{{ function }}
            </a>
        </li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
{% endif %}
{% endfor %}
{% endblock %}

{% block second_sidebar_navigation %}
<li class="app-sidebar__heading">Posts</li>
<ul>
    {% for post in posts %}
    <li>
        <a href="#">
            <i class="metismenu-icon">
            </i>{{ post.post_title }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
