{% extends 'auth/auth_base.html' %}

{% block content %}

<section>         
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="login-card"><img class="img-fluid bg-img-cover" src="{{ url_for('bp_admin.static', filename='images/login/login_bg.jpg')}}" alt="">
          <form method="POST" action="{{ url_for('bp_auth.login')}}" class="theme-form login-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="login-header text-center">
              <h4>Login</h4>
              <h6>Welcome back! Log in to your account.</h6>
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'success' %}
                    <div class="alert alert-success inverse alert-dismissible fade show" role="alert"><i
                      class="icon-thumb-up alert-center"></i>
                      <p>{{message}}</p>
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% elif category == 'error' %}
                    <div class="alert alert-danger outline alert-dismissible fade show" role="alert"><i
                      data-feather="thumbs-down"></i>
                      <p>{{message}}</p>
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
              {% endwith %}
              
            </div>
            <div class="login-social-title">                
              <h5>Sign in with Username</h5>
            </div>
            <div class="form-group">
              <label>Username</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                <input class="form-control" type="text" name="username" required="" placeholder="username">
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                <input class="form-control" type="password" name="password" required="" placeholder="*********">
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Sign in</button>
            </div>
            <p>Don't have account?<a class="ms-2" href="log-in.html">Create Account        </a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
