{% extends 'admin/admin_wingo_base.html' %}


{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{{ url_for('bp_admin.static', filename='css/vendors/datatables.css') }}">
<!-- Plugins css Ends-->
{% endblock css %}


{% block content %}
<div class="page-body">
  {% include 'admin/layout/page_header/page_header.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="display datatables" id="tblMain">
                <thead>
                  <tr>
                    {% for column in columns %}
                      {% if column == 'Actions' %}
                        <th>{{column}}</th>
                      {% else %}
                        <th>{{column.label.upper()}}</th>
                      {% endif %}
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% if table_data|length > 0 %}
                    {% for row in table_data %}
                      <tr>
                        {% if edit_function %}
                        <param id="param_{{row[0]}}" value="{{url_for(edit_function, oid=row[0])}}">
                        {% endif %}

                        {% for val in row %}
                          <td>
                            {{val}}
                          </td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}


{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{{ url_for('bp_admin.static', filename='js/datatable/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('bp_admin.static', filename='js/datatable/datatables/datatable.custom.js') }}"></script>
<!-- Plugins JS Ends-->

<script>
  var isWithActions = "{{with_actions}}";
  var dtTblMain;
  
  $(document).ready(function(){
    init();

    function init(){
      loadDataTable();
    }

    function loadDataTable(){
      let tblMainColumnDefs = [
        {
          "targets": [0],
          "visible": false
        },
      ];

      if(isWithActions == "True"){
        tblMainColumnDefs.push(
          {
            "targets": [-1],
            "render": function (data, type, row) {
              return `
              <button class="btn-edit btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs">Edit</button>
              `;
            }
          }
        );
      }

      dtTable = $('#tblMain').DataTable({
        "dom": 'rtip',
        "pageLength": 20,
        "columnDefs": tblMainColumnDefs
      });
    }

    $("#tblMain tbody").on('click', '.btn-edit', function(){
      let row = dtTable.row($(this).parents('tr')).data();

      let editUrl = $(`#param_${row[0]}`).val();
      console.log(editUrl);

      if(editUrl == "None"){
        alert("Include edit_function with value to the Page object");
        return;
      }
      location.href = editUrl;
    });
  }); // document.ready
</script>
{% endblock scriptcontent %}