{% with modal = context['create_modal'] %}
<div id="viewModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View {{ modal['title'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        {% for row in modal['fields'] %}
                        {% set row_count = loop %}
                        <div class="form-row">
                            {% for field in row %}
                            {% if field.type == 'select' %}
                            <div class="col-md-{{ modal['fields_sizes'][row_count.index-1] }} mb-3">
                                <div class="position-relative form-group">
                                    <label for="view_{{ field.name }}" class="">{{ field.label.upper() }}</label>
                                    <select disabled name="{{ field.name }}" id="view_{{ field.name }}" class="form-control {% if field.required %}input_required{% endif %}"
                                    {% if field.required %}required{% endif %}>
                                        {% for odata in field.data %}
                                        <option value="{{ odata.id }}">{{ odata.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-md-{{ modal['fields_sizes'][row_count.index-1] }} mb-3">
                                <label for="view_{{ field.name }}">{{ field.label.upper() }}</label>
                                <input style="font-weight: bold;" disabled type="text" class="form-control" id="view_{{ field.name }}" name="view_{{ field.name }}"
                                       placeholder="{{ field.label.lower() }}" value=""
                                       required>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Role Permissions</h5>
                        <table class="mb-0 table table-hover inline_table">
                            <thead>
                            <tr>
                                <th>MODEL</th>
                                <th>READ</th>
                                <th>CREATE</th>
                                <th>WRITE</th>
                                <th>DELETE</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {% if edit_url %}
                    {% if session['permissions'][context['model']]['write'] or current_user.is_superuser %}
                    <a id="view_edit_button" href="" class="btn btn-primary">Edit</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}