<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="A LIKES Project">
    <meta name="author" content="LIKES">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('bp_auth.static', filename='css/login.css') }}">
    <link href="{{ url_for('bp_admin.static', filename='css/lib/main.css') }}" rel="stylesheet">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"> -->
    {% if title %}
    <title>{{ title }} Sign In</title>
    {% else %}
    <title>LIKES Sign In</title>
    {% endif %}
</head>
<body>
    <div class="login">
        <h1>SIGN IN</h1>
        <form action="{{url_for('bp_auth.login')}}" method="post">
            {{ form.csrf_token }}
            <input type="text" name="username" placeholder="Username" required="required" />
            <input type="password" name="password" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
        </form>
    </div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="toast-container" class="toast-top-center">
    {% for message in messages %}
    <div class="toast toast-error" aria-live="polite">
        <div class="toast-progress" style="width: 0%;"></div>
        <div class="toast-title">Login Failed!</div>
        <div class="toast-message">{{ message }}</div>
    </div>
</div>

{% endfor %}
{% endif %}
{% endwith %}

</body>
</html>