{% with modal = context['create_modal'] %}
<div id="viewModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View {{ modal['title'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        {% for row in modal['fields'] %}
                        <div class="form-row">
                            {% for field in row %}
                            <div class="col-md-4 mb-3">
                                <label for="view_{{ field.name }}">{{ field.label }}</label>
                                <input disabled type="text" class="form-control" id="view_{{ field.name }}" name="view_{{ field.name }}"
                                       placeholder="{{ field.label }}" value=""
                                       required>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="user_edit_button" href="" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}