{% extends "admin/admin_base.html" %}
{% block content %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"> </i>
                </div>
                <div>
                    {{ index_title }}
                    <div class="page-title-subheading">
                        message
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table id="index_table" class="mb-0 table table-hover">
                        <thead>
                            <tr>
                                {% for field in table_fields %}
                                <th>{{ field }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for model in models %}
                            <tr>
                                {% for values in model %}
                                <td>{{ values }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block inner_footer %}
<div class="app-footer-left">
    <nav class="" aria-label="Page navigation example">
        <ul class="pagination">
            {% if prev_url %}
            <li class="page-item">
                <a href="{{ prev_url }}" class="page-link" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
                <span class="sr-only">Previous</span></a>
            </li>
            {% endif %}

            {% if next_url %}
            <li class="page-item">
                <a href="{{ next_url }}" class="page-link" aria-label="Next">
                <span aria-hidden="true">Next</span>
                <span class="sr-only">Next</span></a></li>
                    </ul>
            {% endif %}
    </nav>
</div>
{% endblock %}

{% block scripts %}
<script>
    function add_delete_column(){
        var tr = document.getElementById('index_table').tHead.children[0];
        th = document.createElement('th');
        th.innerHTML = "Delete";
        tr.appendChild(th);
        var new_cell = '\<div class="custom-checkbox custom-control"><input type="checkbox" id="" class="custom-control-input"><label class="custom-control-label" for=""></label></div>';

        var table = document.getElementById("index_table");

        for (var r = 1; r < table.rows.length; r++) {
            table.rows[r].cells[5].insertAdjacentHTML('beforeend', new_cell);
        }
    }
</script>
{% endblock %}

{% block toast %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="toast-container" class="toast-top-center">
            {% for message in messages %}
            <div class="toast toast-success" aria-live="polite" style="">
                <div class="toast-progress" style="width: 0%;"></div>
                <button type="button" class="toast-close-button" role="button" onclick="close_toast()">×</button>
                <div class="toast-title">Saved!</div>
                <div class="toast-message">{{ message }}</div></div></div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

