<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-6">
        <h3>{{breadcrumb.title}}</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
          <li class="breadcrumb-item">{{breadcrumb.parent}}</li>
          <li class="breadcrumb-item active">{{breadcrumb.child}}</li>
        </ol>
      </div>
      <div class="col-sm-6">
        <!-- Bookmark Start-->
        <div class="bookmark">
          <ul>
            <li><a href="/chat_chat_app" data-container="body" data-bs-toggle="popover" data-placement="top" title=""
                data-original-title="Chat"><i data-feather="message-square"></i></a></li>
            <li><a href="/ecommerce_product_page" data-container="body" data-bs-toggle="popover" data-placement="top"
                title="" data-original-title="Icons"><i data-feather="shopping-bag"> </i></a></li>
            <li><a href="/users_users_profile" data-container="body" data-bs-toggle="popover" data-placement="top"
                title="" data-original-title="Learning"><i data-feather="users"></i></a></li>
            <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="heart"></i></a>
              <form class="form-inline search-form">
                <div class="form-group form-control-search">
                  <input type="text" placeholder="Search..">
                </div>
              </form>
            </li>
          </ul>
        </div>
        <!-- Bookmark Ends-->
      </div>
    </div>
  </div>
</div>