<!-- page sidebar starts -->
<header class="main-nav">
  <div class="logo-wrapper"><a href="/"><img class="img-fluid" src="{{ url_for('bp_admin.static', filename='images/logo/ez2erp_logo.png')}}"
        alt=""></a>
  </div>
  <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid"
        src="{{ url_for('bp_admin.static', filename='images/logo/logo-icon.png')}}" alt=""></a></div>
  <div class="morden-logo"><a href="/"><img class="img-fluid" src="{{ url_for('bp_admin.static', filename='images/logo/morden-logo.png')}}"
        alt=""></a></div>
  <nav>
    <div class="main-navbar">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
      <div id="mainnav">
        <ul class="nav-menu custom-scrollbar">
          <li class="back-btn">
            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
            </div>
          </li>
          {% for item in sidebar.items %}
            {% if item.type == 'single' %}  
              <li class="dropdown">
                <a
                  class="nav-link menu-title link-nav"
                  href="{% if item.link %}{{url_for(item.link)}}{% else %}#{% endif %}"
                >
                <i data-feather="{{item.icon}}">
                  </i><span>{{item.name}}</span>
                </a>
              </li>
            {% elif item.type == 'dropdown' %}
            <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
                  data-feather="home"></i><span>{{item.name}}</span></a>
              <ul class="nav-submenu menu-content">
                {% for sub_item in item.sub_items %}
                <li>
                  {% if sub_item.link %}
                  <a href="{{ url_for(sub_item.link) }}">
                  {% else %}
                  <a href="#">
                  {% endif %}
                  {{sub_item.name}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </div>
  </nav>
</header>
<!-- page Sidebar Ends-->